$accent-color: #6183ff;
$primary-color: #ffffff;

* {
    margin: 0;
    padding: 0;
}

body {

}

main {
    margin: 50px 10%;
    background-color: $primary-color;
    height: 100vh;
}

.generator {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    input {
        outline: none;
        border: 2px solid gray;
        padding: 15px;

        letter-spacing: 1px;
        font-size: 1.5rem;
    }
    button {
        color: white;
        outline: none;
        border: none;
        font-size: 1.2rem;
        background-color: $accent-color;
        width: 45%;
        margin: 1em 0;
        padding: 0.7em;
        max-width: 250px;
        height: auto;
        &:active {
            transform: scale(0.95);
        }
    }
    .buttons {
        display: flex;
        justify-content: space-between;
    }

}

.settings-container {
    max-width: 1000px;
    margin: auto;
    box-shadow: none;

    h1 {
        display: none;
    }
}

.settings {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 0;
    .checkboxes {
        display: grid;
        grid-template-columns: 40px 1fr;
        input {
            margin: 0.7rem 0;
        }
        label {
            margin: auto 0;
        }
    }

    .inputs {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        width: auto;
        margin-top: 1rem;
        input {
            margin-bottom: 1.5rem;
            outline: 0;
            border: 2px solid gray;
            height: 2rem;
            font-size: 1rem;
        }
    }
}

.cool-checkboxes {
    input[type="checkbox"] {
        appearance: none;
        border: 2px solid gray;
        width: 35px;
        height: 35px;
        display: grid;
        place-content: center;
    }
    input[type="checkbox"]::before {
        content: "";
        background-color: #fff;
        width: 20px;
        height: 20px;
        transform: scale(0);
        transition: 150ms transform ease-in-out;
        //make it checkmark
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1.2);
    }
    input[type="checkbox"]:checked {
        background-color: #6183ff;
    }
}

#message {
    width: max-content;
    max-width: Min(350px,80%);
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 5px;

    display: none;
}

.warning {
    background-color: #ffed9e;
    border: 1px solid orange;
    margin: 2rem auto;
}

@media (min-width: 900px) {
    .generator {
        #password-field {
            height: 4rem;
            font-size: 2.7rem;
        }
        button {
            font-size: 1.5rem;
            height: 5rem;
        }
    }
    .settings {
        display: flex;
        flex-direction: row;
        padding: 25px;
        max-width: 850px;
        margin: 0 auto;
        label {
            font-size: 1.5rem;
        }
        input[type="checkbox"] {
            width: 40px;
            height: 40px;
        }
        input[type="text"] {
            font-size: 1.5rem;
            height: 3rem;
            width: 18rem;
        }
        .checkboxes {

            label {
                margin-left: 1rem;
            }
        }
    }
    .settings-container {
        max-width: 1000px;
        margin: 4rem auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 0 0 25px 25px;
        h1 {
            display: block;
            background-color: $accent-color;
            color: $primary-color;
            padding: 20px;
            border-radius: 20px 20px 0 0;
        }
    }
}

